*{ 
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    background-color:rgb(255, 208, 0);
    height:100%; 
  
}

main{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color:white;
    justify-content: space-between;
    padding:2em 1em;
}

    
#wrap{ 
    width: 70%;
    background-color:wheat;
    margin:0 auto;
    
    
}
h1{ 
    text-align: center;
    background-color:blue;
    margin: auto; 
}
header{
    width:100%;
    color: cornsilk;
    
}

h2{
    color:goldenrod;
    text-align: left;
    font-size: xx-large;
    margin: 0.5em 0;


}
p{ 
    text-align:center;
    text-align: justify;
}

img{
    width:100%;
    margin: auto;
    height:auto;
    
}


nav{
    width: 15%;
    background-color:blue;
    display: flex;
    flex-direction: column;
    height:fit-content;
    justify-content: space-between;
    text-align: center;
    padding:2em 0;
}


a{
    color:white;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
}

article{
    width: 60%;
    background-color: white;
    padding: 0 1em;


}


aside{
    width: 25%;
    background-color:blue;
    padding:1em;
    height:fit-content;
    justify-content: space-between;
    justify-content: flex-end;
    text-align: justify;
    
}


.texto{
    color:blanchedalmond;
}


h3{
    color: cornsilk;
}
.title{
    text-align: center;


}


footer{
    width:100%;
    background-color:blue;
    text-align: center;
    padding: auto;
    height: 60%;  
}

small{
    color: cornsilk;
}


/* taille figure Matt Groening */

.size{
    width:80%;
    margin: auto;
  

}
.size img{
    border: solid white 2px;
}
h3{
    padding:1em 0;
    text-align:auto;
}

.figure_header{
    height: auto;
    height:400px;
}

.img_header{
  
    height:400px;
    object-fit:cover; 
    /* object-position: 50% 50%; */
}


@media screen and (max-width: 768px) and (min-width: 1024px) {

   
}
@media screen and (min-width: 427px) and( max-width: 767px){


}

@media only screen and (max-width: 426px){

    #wrap{
        width:100%;
    }
    main{
        flex-direction: column;
    }
    nav{
        width:100%;
    }
    article{
        width: 100%;
    }
    aside{
        width: 100%;
    }

     }







     



    






    







    











